{{> header }}
<div class="flex justify-center gap-x-3 mt-5">
  <a href="/search"><button class="bg-purple-700 hover:bg-purple-500 text-white p-3 rounded-md">Search Note</button></a>
<a href="/insert"><button class="bg-purple-700 hover:bg-purple-500 text-white p-3 rounded-md">Insert Note</button></a>
<a href="/update"><button class="bg-purple-700 hover:bg-purple-500 text-white p-3 rounded-md">Update Note</button></a>
<a href="/list"><button class="bg-purple-700 hover:bg-purple-500 text-white p-3 rounded-md">List Note</button></a>
<a href="/delete"><button class="bg-purple-700 hover:bg-purple-500 text-white p-3 rounded-md">Delete Note</button></a>
</div>
{{> footer}}