{{> header }}
<h2 class="text-xl text-center mt-5"> Update Note </h2>
<form action="/update?_method=PUT" method="post" class="flex flex-col gap-y-5 justify-center items-center w-full mt-5">
    <input type="text" name="id" class="border p-2 rounded-md outline-none" placeholder="Enter ID" autocomplete="off" />
    <input type="text" name="title"  class="border p-2 rounded-md outline-none" placeholder="Enter title" autocomplete="off" />
    <input type="text" name="description"  class="border p-2 rounded-md outline-none" placeholder="Enter description" autocomplete="off"/>
    <input type="submit" value="Update"  class="bg-purple-700 hover:bg-purple-500 text-white p-3 rounded-md" />
</form>
{{> footer}}
